/* reset */
* {
    margin: 0;
    padding: 0;
}

body{
  font-family: 'Arial';
}

/* header */
.header{
    height: 120px;
    width: 100%;
    background: #ccc;
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* content */
.container {
    background: #eee;
    width: 100%;
    max-width: 980px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 180vh;
    padding: 40px 0 0 0;
}
    .conteudo-left {
        background: #ccc;
        width: calc(70% - 0.5rem);
        display: block;
        float: left;
        height: 800px;
    }
    .conteudo-right {
        width: calc(30% - .5rem);
        float: right;
        background: #888;
        height: 200px;
    }

/* special class */
.fixed{
    position: fixed;
    top: 15px;
}

/* clear */
.clear{
  clear: both;
}

/* btn back top */
.backtop{
  width: 200px;
  background: #ccc;
  border-radius: 30px;
  margin: 20px auto;
  display: block;
  padding: 14px 10px;
  text-align: center;
  cursor: pointer;
}
